@page
@model MovieMatchApp.Pages.EditMovieModel

<h2>Edit Movie</h2>

<form method="post">
    <input type="hidden" asp-for="Movie.MovieID" />

    <div>
        <label>Title:</label>
        <input asp-for="Movie.Title" />
    </div>

    <br />

    <div>
        <label>Genre:</label>
        <input asp-for="Movie.Genre" />
    </div>

    <br />

    <div>
        <label>Director:</label>
        <input asp-for="Movie.Director" />
    </div>

    <br />

    <div>
        <label>Description:</label>
        <input asp-for="Movie.Description" />
    </div>

    <br />

    <div>
        <label>Release Year:</label>
        <input asp-for="Movie.ReleaseYear" type="number" />
    </div>

    <br />

    <div>
        <label>Runtime:</label>
        <input asp-for="Movie.Runtime" type="number" />
    </div>

    <br />

    <div>
        <label>Mood:</label>
        <input asp-for="Movie.Mood" />
    </div>

    <br />

    <button type="submit">Save Changes</button>
</form>